.container {
    display: flex;
    justify-content: center;
    background-color: whitesmoke;
    
    width: 100vw;
    height: 100vh;
}

.main {
    display: flex;
    flex-direction: column;
}

.card {
    background-color: white;
}